<!DOCTYPE html>
<html lang="zxx"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
	<title>Photographer | HTML Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="Photographer html template">
	<meta name="keywords" content="photographer, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<th:block layout:fragment="css">
		<!-- Favicon -->
		<link href="img/favicon.ico" rel="shortcut icon"/>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/css/magnific-popup.css"/>
		<link rel="stylesheet" href="/css/slicknav.min.css"/>
		<link rel="stylesheet" href="/css/owl.carousel.min.css"/>

		<!-- Main Stylesheets -->
		<link rel="stylesheet" href="/css/style.css"/>
	</th:block>
	<th:block layout:fragment="script">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.slicknav.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/circle-progress.min.js"></script>
		<script src="js/mixitup.min.js"></script>
		<script src="js/instafeed.min.js"></script>
		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/main.js"></script>
	<![endif]-->
	</th:block>
</head>
</html>
